

@media (min-width: 768px) {
  .navbar-menu {
    display: flex !important;
  }
}

.navbar-menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: rgba(55, 127, 176, 0.9);
  position: absolute;
  top: 60px; 
  right: 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #B7DAEA;
}
