@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,600;0,700;1,100;1,200&family=Signika:wght@300..700&display=swap');


body{
  font-family: "Poppins", sans-serif;
  
}
.footer-icons svg {
  fill: #ffffff;
}
.footer-icons svg {
  fill: #ffffff;
}
