.fundoCadastro {
    background-image: url(../../assets/img/testes.gif);
      background-repeat: no-repeat;
      width: 100%;
      width: 106%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }