.fundoCadastro {
    background-image: url(../../assets/img/cadastro.gif);
      background-repeat: no-repeat;
      width: 110%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }